body {
  margin: 0;
  font-family: "游ゴシック","YuGothic","Yu Gothic","游ゴシック体";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:focus {
  outline: none !important;
}
